@import "normalize.css";

body {
  width: 100%;
  height: 100%;
 min-width: 290px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 15px;
  color: #a8b9c0;
}

* {
  box-sizing: border-box;
}

a, button {
  outline: none;
}


img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  
}

.clearfix::after {
  content:"";
  display: table;
  clear: both;
}

.btn {
  background-color: #ff3150;
  color: #ffc501;
  border: 0;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 36px; 
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s linear;
}

.btn:hover {
  background-color: #c4263e;
}

.btn_size_l {
  padding: 13px 57px;
  border-radius: 22px;
}

.btn_bg_blue {
  background-color: #19283f;
}

.btn_bg_blue:hover {
  background-color: #28426a
}

.btn_email {
  color: white;
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  padding: 12px 30px;
}


.btn_about {
  padding: 14px 48px;
  border-radius: 20px;
}


.site-header {
  padding: 15px 0;
  background-color: #19283f;
  position: relative;
  margin: 0 -15px;
}

.site-header__logo {
  float: left;
}


.logo__pic {
  max-width: 100px;
}

.site-header__right {
  float: right;
}

.main-menu {
  display: inline-block;
}

 @media screen and (max-width: 768px) {
  .main-menu {
  display: inline-block;
  position: absolute;
  width: 100%;
  background-color: #ff3150;
  top: 0;
  left: 0;
  z-index: 100;
  overflow-y: auto;
}


 }


.main-menu__list {
  padding: 0;
  margin: 0;

}

.main-menu__item {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}

  @media screen and (max-width: 768px) {
    .main-menu__list {
      display: none;
      transform: translateY(25%);
      height: 100vh;
  }

    .main-menu__item {
      display: block;
      vertical-align: middle;
      padding: 20px 0;
      margin-left: 0;

}
     .main-menu__item:hover  {
     background-color: #ffc501
}
     .main-menu__item:hover .main-menu__link {
     color: #ff3150;
}
}



.main-menu__link {
  text-decoration: none;
  color: rgba(240, 248, 251, .5);
}

.main-menu__link:hover {
  text-decoration: underline;
}

  @media screen and (max-width: 768px) {
    .main-menu__link {
      color: #ffc501;
     }
    
    .main-menu__link:hover {
      
     }

}

#toggle-nav {
  width: 30px;
  height: 30px;
  display: none;
  margin-left: auto;
 
  float: right;
  margin-left: 20px;
  margin-top: 5px;
  
}
#toggle-nav svg {
  fill: #ffc501;
}

 
  @media screen and (max-width: 768px) {
    #toggle-nav {
      display: block;
      position: relative;
      z-index: 102;
  }
}

.toggle-nav__icon {
  color: red;
  
}


.site-header__login {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.site-header__search {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  background: url(../img/search-icon.svg) no-repeat;
  background-position: center right;
  border-left: 1px solid #00c6bf;
  padding-left: 20px;
  margin-left: 25px;
}


.section__header {
  text-align: center;
  margin-bottom: 65px;
}

.section__title {
  position: relative;
  font-size: 35px;
  color: #1a2940;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.section__title_icon::before {
  content: "";
  display: block;
  width: 80px;
  height: 60px;
  margin: 0 auto 40px;
  background: url("../img/title-decor.svg") no-repeat;
}

.section__title_yellow {
  color: #ffc501;
}

.section__title_white {
  color: #fff;
}

.section__subtitle {
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}

.section__subtitle::after {
  content: "";
  display: block;
  margin: 15px auto 0;
  height: 1px;
  width: 150px;
  background-color: #00c6bf;
}

.section__description {
  width: 50%;
  display: inline-block;
  font-weight: 200;
  margin: 25px 0 0;
}

@media screen and (max-width: 768px) {
  .section__description {
  width: 80%;
 
}
}

.start {
  background-color: #19283f;
  text-align: center;
 
  position: relative;
}

.start__content {
  padding: 120px 0 150px;
  
}

.start__title {
  font-size: 51px;
  font-weight: 200;
  margin-bottom: 5px;
  color: rgb(240, 248, 251);
}

.start__text {
  margin: 0;
  margin-bottom: 50px;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.services__item {
  display: inline-block;
  width: calc(100% / 3);
  min-width: 265px;
  padding: 0 25px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: top;
  margin-bottom: 40px;

}



.service__icon {
  position: absolute;
  bottom: 0;
  left: 40%;
}

.services__num {
  margin-bottom: 30px;
  height: 195px;
  position: relative;
}

.services__num_first {
  background: url("../img/service-item-first.svg") no-repeat;
  background-position: 40% 0;
}

.services__num_first::after {
  content: '';
  background: url(../img/graphic-design.svg) no-repeat;
  width: 65px;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.services__num_second {
  background: url("../img/service-item-second.svg") no-repeat;
  background-position: 50% 0;
}

.services__num_second::after {
  content: '';
  background: url(../img/web-design.svg) no-repeat;
  width: 75px;
  height: 55px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.services__num_third {
  background: url("../img/service-item-third.svg") no-repeat;
  background-position: 50% 0;
}

.services__num_third::after {
  content: '';
  background: url(../img/app-design.svg) no-repeat;
  width: 65px;
  height: 58px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


.services__title {
 text-transform: uppercase;
 color: #ffc501;
 font-size: 20px;
 margin-bottom: 25px;
 font-weight: 500;
}

.services__content {
  line-height: 30px;
}

.portfolio {
  background: #eff7fa;
  padding-top: 55px;
  padding-bottom: 70px;

}

.gallery__filter {
  list-style: none;
  margin-bottom: 75px;
  text-align: center;

}

.gallery__item {
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 480px) {
  .gallery__item{
    display: block;
  }
}

.gallery__swith {
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  color: #a8b9c0;
  border-radius: 10px;
  transition: 0.2s linear background-color;
}



.gallery__swith:hover {
  background-color: #ff3150;
  color: #ffc501;
  border: 0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  
}

.gallery__content {
  text-align: center;
  margin: 45px -15px 0;
}

.gallery__img-block {
  display: inline-block;
  margin: 15px;
  margin-bottom: 30px;
  width: 262.5px;
  height: 200px;
  font-size: 0;
  overflow: hidden;
  background: #33d1cc;
}


.gallery__img {
  border: none;
  max-width: 100%;
  
}

.portfolio__more {
  text-align: center;
}

.about {
  padding-top: 60px;
}

.about__header {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .about__header {
  margin-bottom: 40px;
}
}

.about__content {
  position: relative;
}


.about__description {
 
  width: 31.62%;
 padding: 5% 0 5%;
 
}

@media screen and (max-width:768px) {
  .about__description {
 
 width: 100%;
 padding: 0;
 padding-bottom: 60px;
 text-align: center;
 
}
}

.about__title {
  font-size: 35px;
  font-weight: 500;
  color: #1a2940;
}

.about__text {
  margin-bottom: 40px;
  font-weight: 200;
}

.about__text p {
  margin: 0;
  margin-top: 20px;
}

.about__pic {
  position: absolute;
  bottom: -8px; right: 0;
  width: 63.1%;
 }

 @media screen and (max-width:768px) {
  .about__pic {
  position: static;
  width: 100%;
 }
 
}



.team {
  padding-top: 115px;
  padding-bottom: 60px;
  background: #eff7fa;
}

.team__list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 -15px;
}

.team__person {
  display: inline-block;
  width: 262.5px;
  padding: 0;
  margin: 0;
  margin: 15px;
  background-color: #fff;
  vertical-align: top;


}

.team__pic {
  overflow: hidden;
  height: 262.5px;
  width: 262.5px;
}

.team__pic img {
  height: 100%;
}

 



.team__name {
  font-size: 20px;
  background-color: rgba(51, 209, 204, 0.7 );
  color: #fff;
  padding: 14px;
  position: relative;
  margin-top:-51px;
}

.team__blockquote {
  margin: 0;
  padding: 30px 30px 15px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
  text-align: center;
}

.clients__item {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% / 6 - 20px);
  min-width: 100px;
  height: 65px;
  line-height: 65px;
  margin: 0 10px 40px;
  
}

.clients__link {
  vertical-align: middle;
  display: block;

}

.clients__img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  vertical-align: middle;
  margin: 0 auto;



}

.application {
  padding-top: 110px;
  padding-bottom: 130px;
  background-color: #19283f;
}

.application__content {
  text-align: center;
}

.blog {
  padding-top: 55px;
  padding-bottom: 75px;
}

.blog__list {
  list-style: none;
  padding: 0;
  margin: 0 -15px 75px;
  text-align: center;
  font-size: 0;

}

.blog__item {
  display: inline-block;
  width: calc(100% / 3 - 30px);
  min-width: 190px;
  margin: 15px;
  text-align: left;
}

.blog__img {
 
  height: 130px;
  margin-bottom: 10px;
  overflow: hidden;

}

.blog__date {
  font-size: 13px;
  line-height: 25px;
}

.blog__title {
  font-size: 20px;
  color: #1a2940;
  line-height: 25px;
}

.blog__more {
  text-align: center;
}

.subscription {
  background-color: #ffc400;
  padding-top: 35px;
  padding-bottom: 30px;
  text-align: center;
}

.subscription__text {
  font-size: 20px;
  color: #1a2940;
  margin-right: 40px;
  margin-bottom: 20px;
  display: inline-block;
}

.subscription__input {
  width: 37.60%;
  padding: 10px 0;
  margin-right: 40px;
  margin-bottom: 20px;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #fff;
  background: none;
  outline: 0;
}

@media screen and (max-width: 480px) {
  .subscription__input {
  width: 80%;
  margin-right: 0;
}
}

.subscription__input::-webkit-input-placeholder {
  color: #fff;
}

.footer {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #19283f;
  font-size: 13px;
  position: relative;
}



.footer__col {
  float: left;
  width: calc(100% / 3 - 30px);
  margin: 15px;

}

@media screen and (max-width: 768px) {
 .footer__col {
  width: calc(100% / 2 - 30px);
  margin-bottom: 170px;
}
}

@media screen and (max-width: 480px) {
  .footer__col {
  width: calc(100% - 30px);
  margin-bottom: 10px;
}
  .footer__contacts {
  margin-bottom: 250px; 
  }
}

.sub-menu {
 float: left;
 width: calc(100% / 2 - 15px);
 margin-right: 30px;
}

.sub-menu:last-child {
  margin-right: 0;
 
}



.sub-menu__title, 
.footer__title {
  color: #f0f8fb;
  font-size: 15px;
  margin-bottom: 17px;
}

.sub-menu__list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.sub-menu__item {
  margin-bottom: 26px;
}

.sub-menu__link {
  text-decoration: none;
  color: #a8b9c0;
}

.sub-menu__link:hover {
  text-decoration: underline;
}


.footer__text {
  margin: 0;
  margin-bottom: 40px;
  line-height: 30px;
}

.footer__email {
  margin-bottom: 40px;
}



@media screen and (max-width:768px) {
.footer__copyright{
  position: absolute;
  width: calc(100% - 30px);
  bottom: 0;
  margin-bottom: 0;
  }

 .footer__logo, .copyright {
  display: inline-block;
}
  .copyright {
    width: 80%;
    margin-bottom: 20px;
}
  .footer__logo {
    margin-right: 20px;
  }
}



.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__icon {
  display: inline-block;
  margin-right: 10px;
}

.social__link {
  display: block;
   width: 35px;
  height: 35px;
  background-image: url(../img/social-sprite.png);
}

.social__link_tw {
  background-position: 127px 0;
}

.social__link_g{
  background-position: 253px 0;
}

.social__link_dr{
  background-position: 208px 0;
}